.under-construction {
  height: 100%;
  .under-construction__container {
    height: 100%;
  }
  .under-construction__main-row {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
