@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

//Fonts
$primary-font: "Plus Jakarta Sans", sans-serif;
$secondary-font: "Roboto", sans-serif;

//Color

$primary-color: #ff004d;
$light-color: rgb(247, 247, 247);
$dark-color: rgb(42, 42, 42);
